@charset "UTF-8";

.navbar {
    background-color: #4dc0b5;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .4);
    padding-bottom: 0;
    padding-top: 0;
}

.navbar-brand {
    min-height: 110px;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 5px;
}

.navbar-nav{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    padding: 15px;
}

.nav-item{
    padding: 0 15px;
}

.nav-item .nav-link{
    color: #FFF;
}

.nav-item .nav-link:hover{
    color: #686868;
    background-color: transparent;
}

#home{
    padding-top: 110px;
    background-image: url("/img/bgimage.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 99;
}

.landing-text{
    display: table-cell;
    text-align: center;
    vert-align: middle;
    color: #23415C;
}

.landing-text h1{
    font-size: 400%;
    font-weight: 700;
}

.landing-text h3{
    font-size: 140%;
    font-weight: 650;
}

.landing-text a{
    font-size: 120%;
    font-weight: 600;
    margin: 10px;
    color: #23415C;

}

.padding{
    padding: 50px 20px;
    background-color: rgb(226,226,231);
}
.padding .row{
    padding: 20px;
}
.padding p{
    padding:  20px;
    line-height: 180%;
}

.padding h2{
    font-size: 150%;
    font-weight: 650;
    color: #23415C;
    width: 100%;
    text-align: center;
}

.padding .benifit{
    padding:  20px;
    line-height: 200%;
    font-size: 1.4em;
    width: 100%;
    list-style: none;
    font-weight: 500;
}

footer{
    width: 100%;
    background-color: #23415C;
    padding: 2% 2% 4% 2%;
    color: #FFF;
}

.fa{
    padding: 15px;
    color: #FFF;
    font-size: 25px;
}

.fa:hover{
    color: #686868;
    text-decoration: none;
}

footer h2{
    font-weight: 500;
}

footer p{
    line-height: 180%;
    font-weight: 500;
    font-size: 1.2em;
    width: 100%;
    padding: 10px;
}





