@charset "UTF-8";

.navbar{
    background-color: #4dc0b5;
    box-shadow: 0 10px 20px rgba(0,0,0,.4);
    z-index: 150;
    position: fixed;
    width: 100%;
}

.content{
    padding: 120px;

}

.navbar-brand img{
    max-width: 120px;
    height: auto;
}

.nav-item{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
}

