@charset "UTF-8";

.navbar{
    background-color: #00AAAA;
    box-shadow: 0 10px 20px rgba(0,0,0,.4);
    z-index: 150;
    position: fixed;
    width: 100%;
}
.container{
    margin-left: 0px;
    padding-left: 0px;
}

.navbar-brand img{
    max-width: 110px;
    height: auto;
}

.nav-item{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
}

